:root{
    --bg-color1 : #f6f9ff;
    --bg-color2 : #fbfbfb;
    --shadow-1 : 0px 0 30px rgb(1 41 112 / 10%);
    --shadow-2 : 0 0.3rem 2.9rem rgb(5 86 169 / 8%) !important;
    --font-color-1 : #057c66;
    --font-color-2 : #012970;
    --font-color-3 : #ff771d;


}

@font-face{
    font-family: 'Varela Round'; src:url(../FontFalilly/VarelaRound-Regular.ttf);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
body{
    line-height: 1.5;
    background-color: var(--bg-color2);
}
.card-wrapper{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_{
    box-shadow: var(--shadow-1);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 80vh;
    border-radius: 7px;
}
/* 
img{
    

} */
.img-display{
    width: 550px;
    height: 75vh;
    margin: 0 0 0 -7rem;
    align-items: center;
    display: flex;
}

.img-display img{
    transform: scale(0.8);
}
.product-content{
    width: 600px;
    height: 75vh;
    padding: 2rem 1rem;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
    width: 300px;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
    width: 320px;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #ffa701;
}

.product-detail{
    width: 500px;
    height: 30vh;
}

.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
    width: 520px;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(../img/iconDetails.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btnAddTo{
    border: 1.5px solid #ddd;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
    width: 5rem;
    border-radius: 5px;
    height: 2.5rem;
    border: 1px solid #ffa701;
}
.purchase-info .btnAddTo{
    cursor: pointer;
    color: #fff;
}

.purchase-info .btnAddTo:last-of-type{
    background: #ffa701;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 2rem;
}
.purchase-info .btnAddTo:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}


.alert{
    top: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 17px;
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
    border-radius: 5px;
    height: 6%;
    padding: 10px 0 0 0;
}
